.popup__input {
  padding: 29px 0 10px;
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  outline: 0;
  font-size: 14px;
  line-height: 17px;
  font-family: Inter, ‘Arial’, sans-serif;
}

@media screen and (max-width: 570px) {
  .popup__input {
    font-size: 12px;
    line-height: 15px;
    padding-top: 20px;
    padding-bottom: 8px;
  }
}

